body{
	background-image: url("/img/gray_jean.png");
}

#build-container{
	background-color: white;
	margin-top: 100px;
	border-radius: 5px;
	padding: 15px;
}

#html-tags{
	width: 100%;
	min-height: 60px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	margin-bottom: 40px;
}

.notags{
	margin-left: 20px;
	margin-top: 20px;
	color: #cfcfcf;
	
}

#removealert{
	margin-bottom: 2px;
}

.tag{
	margin: 2px;
}

.tag:hover{
	text-decoration: line-through;
}

.titlehead{
	font-size: 20pt;
}

#grabtags,#addtag{
	width: 220px;
}

input{
	width: 233px;
}

.pane{
	text-align: center;
/* 	background-color: #eeeeee; */
}

.submitter{
	text-align: center;
}

#saveTags{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}