#loading{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 20%;
}

.instructions{
	text-align: center;
	margin-top: 50px;
/* 	background-color: green; */
}

.selectText{
	font-size: 16pt;
	font-weight: 300;
}

.sc-player{
	margin-top: 100px;
}

.select{
	position: absolute;
	left:50%;
	width: 300px;
	text-align: center;
	margin-top: -150px;
	margin-left: -150px;
}

.notracks{
	background-color: rgba(250,250,250,0.9);
	width: 600px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	margin-top: 100px;
	box-shadow: 1px 1px 11px #959595;
/* 	background-color: red; */
}

.explain{
	font-weight: 300;
	font-size: 12pt;
	line-height: 120%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.upload{
	margin-top: 10px;
}

.sad{
	color: #8c8c8c;
	font-size: 50pt;
	font-weight: 200;
	line-height: 200%;
}

h4{
	color: #4f4f4f;
}

.sc-prev:hover{
	cursor: pointer;
}

.sc-next:hover{
	cursor: pointer;
}