.instructions{
	text-align: center;
/* 	background-color: green; */
}

.sc-player{
	margin-top: 100px;
}

.select{
	position: absolute;
	left:50%;
	width: 300px;
	text-align: center;
	margin-top: -150px;
	margin-left: -150px;
}