body{
/* 	width: 100%; */
	background: url('/img/gray_jean.png');
}

.band_name{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1,h3{
	color: #4d4d4d;
}

.artist_name{
	color: #0d84bb;
}

.artwork{
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-size: cover;
	position: relative;
}

.track_name{
	margin-bottom: 10px;
	font-weight: 600;
}

.pane-left{
	text-align: center;
/* 	padding: 0; */
}

.chooseLink{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

form{
	text-align: center;
	background-color: white !important;
	overflow: auto;
}

input[type=text]{
	float: right;
}

input[type=submit]{
	float: right;
	margin-top: 30px;
}

.sicon{
	height: 20px;
/* 	width: 150px; */
	margin-top: 5px;
	float: left;
}

.arow{
/* 	background-color: red; */
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	
}

.updates{
	margin-top: 30px;
	font-weight: 300;
	font-size: 12pt;
	line-height: 120%;
}

#email{
	text-align: left;
}

.explain{
	font-weight: 300;
	font-size: 12pt;
	line-height: 120%;
}

.overhead{
	margin-bottom: 30px;
	margin-top: 40px;
}

.faded{
	color: #8e8e8e;
}

.banner{
	
}

.welcomemsg{
	font-size: 13pt;
	line-height: 150%;
	text-align: center;
}

.troubles{
	color: #464646;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
/*
	position: fixed;
	bottom: 0px;
	right: 5px;
*/
}