/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    
    html{
	    min-width: 500px;
    }
    
    body {
      padding-bottom: 40px;
      color: #5a5a5a;
      min-width: 500px;
      padding: 0;
/*       background-color: #f1f1f1; */
    }



    .container{
	    padding-left: 20px;
	    padding-right: 20px;
/* 	    background-color: white; */
    }

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* Carousel base class */
    .carousel {
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 60px;
      background-color: red;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }


    /*      MY STYLES */
	
	#slider-container{
		width: 100%;
		height: 500px;
		overflow: hidden;
		margin:0;
		padding:0;
	}
	
	#slider{
		height: 500px;
		width: 100000px;
/* 		margin-left: 100%; */
	}
	
	.img{
/* 		background-image: url(http://i1.sndcdn.com/artworks-000036902244-m5mwuh-t500x500.jpg?923db0b); */
		background-size: cover;
		height: 500px;
		width: 500px;
		display: inline-block;
		float: left;
		margin: 0 !important;
		padding: 0 !important;
/* 		opacity: 0.8; */
	}
			
	.arrow-up {
		position: absolute;
		left: 210px;
		margin-top: -40px;
		width: 0; 
		height: 0; 
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-bottom: 40px solid rgba(255,255,255,0.5);
/* 		border-bottom: 40px solid red; */
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	
	.undercovers{
		width: 100%;
		height: 400px;
		background-color: #fcfcfc;
		margin:0;
		padding:0;
	}
	
	.rather{
		margin-top: 5px;
		font-size: 13pt;
	}
	
	#preview{
		max-width: 400px;
	}
	
	
	#player-info{
			text-align: center;
/* 			padding-left: 0px; */
		}
	
	.dynamo{
		font-size: 50pt;
		margin-bottom: 40px;
	}
	
	.tagline{
		margin-bottom: 20px;
	}
	
/* 	Form */

/*-------------------------------------*/
    
.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

/*-------------------------------------*/	
	
	.form-wrapper {
    width: 350px;
    padding: 15px;
/*     margin: 150px auto 50px auto; */
/* 	position: absolute; */
/* 	bottom: 40px; */
    background: #454545;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
/*     left: 20px; */

margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
	
}

.form-wrapper input {
    width: 230px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #ffffff;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    margin-bottom: 0px;      
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

.form-wrapper button {
	overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
  
.form-wrapper button:hover{		
    background: #e54040;
}	
  
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;    
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before{
    border-right-color: #c42f2f;
}    

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}




    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
    	
/*     	tablets */

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      
      .dynamo,h2{
	      font-size: 30pt;
	      margin-top: 30px;
      }
      
    }


    @media (max-width: 767px) {
    	
/*     	smaller than ipad */

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
      
      .dynamo{
	      font-size: 30pt;
      }

    }
    
    
/* TRACK STYLES */
.sc-player{
	width: 500px;
	height: 500px;
	float: left;
	color: transparent;
}

/* remove border from ol */
.sc-artwork-list{
	margin:0;
}

/* remove numbers from artwork list */
.sc-artwork-list > li{
	list-style-type: none;
}

.sc-artwork-list > li > img{
	width: 500px;
	height: 500px;
}

/* no album art */
.sc-no-artwork{
	width: 500px;
	height: 500px;
	background-image: url('../img/noartwork.jpg');
	background-size: cover;
	color: transparent;
}


/* TRACK CONTROL STYLES */
#info-container{
	width: 500px;
	height: 200px;
}



#control-row{
	margin-top: 20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: auto;
}

#btn-next{
	float: right;
}

#btn-prev{
	float: left;
}



#action-row{
	margin-top: 20px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: auto;
}

#btn-remove{
	float: right;
}

#btn-favorite{
	float: left;
}



#info-row{
	margin-top: 20px;
	display: block;
	padding-left: 50px;
	padding-right: 50px;
	overflow: auto;
}

.info-track{
	margin-bottom: 5px;
}

.info-name{
	font-weight: 600;
	margin-bottom: 5px;
	float: left;
}

.info-city{
	color: #a9a9a9;
	float: right;
}


#link-row{
	margin-left: 50px;
	min-height: 200px;
	margin-bottom: 100px;
}

.link-icon{
	width: 40px;
	margin-right: 20px;
}

