html{
	min-height: 100%;
}

body{
	margin: 0;
	background-image: url(/img/bgradio.jpg);
	background-size: cover;
	background-position: top center;
	color: #202020;
	
	font-family: /* "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",  */Helvetica, Arial, "Lucida Grande", 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}

.logo{
	width: 400px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
/* 	background-color: green; */
}

.explanation{
	background-color: rgba(255,255,255,0.95);
	width: 600px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	margin-top: 100px;
/* 	background-color: red; */
}

.explain{
	font-weight: 400;
	font-size: 12pt;
	line-height: 120%;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #272727;
}

.sicon{
	height: 25px;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
/* 	margin-bottom: 40px; */
}

.connect{
	margin-top: 10px;
	margin-bottom: 10px;
}

.how{
	margin-top: 50px;
}

.start{
	margin-top: 50px;
}

/*
.middle-box{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.textin{
	height: 30px !important;
	font-size: 16pt !important;
	font-weight: 200;
	padding: 6px 6px !important;
	line-height: 24px !important;
	
	width: 90%
}

#signup input[type="submit"]{
	width: 93%;
	font-size: 14pt;
	line-height: 140%;
}

.error{
	font-weight: 600;
	color: red;
}
*/