.sc-player{
  width: 100%;
  height: 600px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 200px;
  overflow: hidden;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  width: 10000px;
/*   height: 50%; */
  background-color: #transparent;
  list-style-type: none;
  position: relative;
  left:50%;
  margin-left: -200px;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  float: left;
  width: 400px;
  opacity: 0.2;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
  opacity: 1;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 400px;
  height: 400px;
}

/* controls */

.sc-player .sc-controls{
  position: absolute;
  z-index: 420;
  width: 40px;
  height: 40px;
  top: 200px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0;
}

.sc-player .sc-controls a{
  display: block;
  width: 40px;
  height: 40px;
}

.sc-player .sc-controls .sc-next{
  margin-left: 160px;
  margin-top: -40px;
}

.sc-player .sc-controls .sc-prev{
  margin-left: -160px;
  margin-top: -40px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */

.sc-scrubber {
  position: fixed;
/*   left: 50px; */
  bottom:0;
  z-index: -1;
  height: 20px;
  width: 100%;
  display: none;
}

.sc-scrubber .sc-time-span{
  height: 100px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-time-span img {
  height: 100px;
  width: 100%;
  overflow: visible;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 100px;
  position: absolute;
  top: 0;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: -30px;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
  position: absolute;
  float: left;
  width: 10000px;
  top: 0px;
  left:50%;
  margin-left: -200px;
}

.sc-player ol.sc-trackslist li{
  float: left;
  width: 390px;
  height:40px;
  cursor: pointer;
  margin: 0px;
  padding: 20px 5px 5px 5px;
  padding-top: 420px;
  list-style: none;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
}

.sc-player .sc-info.active{
  left: 50%;
  top: 12%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
