<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>

	<title>Create New Event</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/build_user.css" type="text/css">

</head>

<body>
	<div class="container" >
		<div id="build-container" style="overflow: auto;">
		<h1>Go ahead. Create an event. I dare you.</h1>
		<form method="post">
			<div style="float:left; margin-left: 20pt;">
				<h2>Event Details</h2>
				<label>Venue name</label>
				<input type="text" name="venue_name" placeholder="Middle East Upstairs"/>
				
				<label>Venue Location</label>
				<input type="text" name="venue_location" placeholder="10 Mass Ave, Cambridge"/>
				
				<label>Event Date</label>
				<input type="text" name="event_date" placeholder="Jan. 14, 2013"/>
				
				<label>Minimum Age</label>
				<input type="number" name="min_age" placeholder="21" />
			</div>
			
			<div style="float:left; margin-left: 20pt;">
				<h2>Availability</h2>
				<label>Maximum Tickets For Sale</label>
				<input type="number" name="max_tickets" placeholder="250"/>
				
				<label>Minimum Tickets To Sell</label>
				<input type="number" name="min_tickets" placeholder="100"/>
				
				<label>Number of Slots Available</label>
				<input type="number" name="available_positions" placeholder="4" />
				
				<label>Number of tickets for a band to win</label>
				<input type="number" name="tickets_per_band" placeholder="50" />
			</div>
			
			<div style="float:left; margin-left: 20pt;">
				<h2>Tickets</h2>
				<label>Base Ticket Price</label>
				<input type="text" name="base_ticket_price" placeholder="10.00" />
				
				<!--label>Ticket Provider</label>
				<input type="text" name="ticket_provider" value="Ticketfly" placeholder="Ticketfly"/>
				
				<label>Ticket Provider Url</label>
				<input type="text" name="ticket_provider_url" value="http://www.ticketfly.com/" placeholder="http://www.ticketfly.com/"/>
				
				<label>Ticket Provider Fee</label>
				<input type="text" name="ticket_provider_fee" value="2.53" placeholder="1.84"/-->
				
				<label>Radius Nominal Fee</label>
				<input type="text" name="radius_fee" value="2.00" placeholder="1.00" />
			</div>
			<input type="submit" class="btn-success" />
			
		</form>
		</div>
	</div>


</body>

</html>