<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  
  <head>
    
    <title>Radius - Choose your track</title>
    <link href="/img/favicon.png" rel="shortcut icon" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/page.css" type="text/css">
    <link rel="stylesheet" href="/css/sc-player-artwork.css" type="text/css">
    <link rel="stylesheet" href="/css/choosetrack.css" type="text/css">
    
    	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->
    
  </head>
  
  <body>
  		<div id="loading"></div>
  		
      
        <div class="instructions">
	        <p class="selectText">Select the track you would like featured on Radius:</p>
        </div>
        
        <div class="sc-player">
        
        </div>
        
        <div class="select" hidden>
        	<a id="btnSelect" class="btn btn-success btn-large" href="#">Select this track</a>
        </div>
        
        <div class="notracks" hidden>
	        <p class="sad">:(</p>
	        <h4>It looks like you don't have any tracks yet...</h4>
	        <p class="explain">Click the button below to be taken to SoundCloud to upload a new track.</br> When you're done, refresh this page - your tracks will show up.</p>
	        <a id="trackupload" href="http://www.soundcloud.com/upload" target="_blank" class="btn btn-warning btn-large">Upload via SoundCloud</a>
        </div>
    <script type="text/javascript" src="/js/spin.js"></script>
    <script type="text/javascript" src="/js/roundandround.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
		mixpanel.track("band track select page loaded")
		
		//register signup
		mixpanel.track_links("#btnSelect","band track selected");
		mixpanel.track_links("#trackupload","band upload link clicked");
		
    
    $.get('https://api.soundcloud.com/users/{{artist.artist_id}}/tracks.json?client_id=d03ca49fb6764663d0992eadc69f8bf1', function(data) {
	  console.log(data)
	  console.log(data.length)
	  
	  if (data.length==0){
	  	console.log('hiding!')
		  $('.sc-player,.select').hide()
		  $('.notracks').show()
		  spinner.stop()
		  $('#loading').hide()
	  } else{
	  
		  for (var key in data){
			  var track = data[key];
			  console.log(track.artwork_url)
			  $('div:.sc-player').append('<a href="'+track.permalink_url+'" class="sc-player"></a>')
		  }
		  
		  var head= document.getElementsByTagName('head')[0];
		   var script= document.createElement('script');
		   script.type= 'text/javascript';
		   script.src= '/js/sc-player.js';
		   head.appendChild(script);
	}
	
	mixpanel.track("band tracks loaded",{"numtracks":data.length})
	  
	});
	
	
	
	</script>
    
    
    <script type="text/javascript" src="/js/soundcloud.player.api.js"></script>
<!--     <script type="text/javascript" src="/js/sc-player.js"></script> -->
    <script type="text/javascript" src="/js/player-custom.js"></script>
    <script type="text/javascript">
	    $(document).bind('onPlayerInit.scPlayer', function(event){
		  spinner.stop()
		  $('#loading').hide()
		  $(".select").show()
		});
    </script>
    
  
  </body>

 </html>