<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  
  <head>
    
    <title>Mustache</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/page.css" type="text/css">
    <link rel="stylesheet" href="/css/sc-player-artwork.css" type="text/css">
    <link rel="stylesheet" href="/css/choosetrack.css" type="text/css">
  
  </head>
  
  <body>
      
        <div class="instructions">
	        <p>Select the track you would like featured on AwesomeName:</p>
        </div>
        
        <div class="sc-player">
        
        </div>
        
        <div class="select">
        	<a id="btnSelect" class="btn btn-success btn-large" href="#">Select this track</a>
        </div>
        
        <div class="notracks">
	        Oh no you don't have any tracks!
        </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
    
    $.get('https://api.soundcloud.com/users/{{artist.artist_id}}/tracks.json?client_id=d03ca49fb6764663d0992eadc69f8bf1', function(data) {
	  console.log(data)
	  console.log(data.length)
	  
	  if (data.length==0){
		  $('.sc-player .select').hide()
		  $('.notracks').show()
	  } else{
	  
		  for (var key in data){
			  var track = data[key];
			  console.log(track.artwork_url)
			  $('div:.sc-player').append('<a href="'+track.permalink_url+'" class="sc-player"></a>')
		  }
		  
		  var head= document.getElementsByTagName('head')[0];
		   var script= document.createElement('script');
		   script.type= 'text/javascript';
		   script.src= '/js/sc-player.js';
		   head.appendChild(script);
	}
	  
	});
	
	</script>
    
    
    <script type="text/javascript" src="/js/soundcloud.player.api.js"></script>
<!--     <script type="text/javascript" src="/js/sc-player.js"></script> -->
    <script type="text/javascript" src="/js/player-custom.js"></script>
    
  
  </body>

 </html>