<!DOCTYPE html>
<html>
<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/manage.css" rel='stylesheet' />
</head>
<body>
	<div class="band_name">
		<h1>Band Name</h1>
	</div>
	<div class="artwork">
		<a href="/artist/choosetrack" class="chooseLink"></a>
	</div>
	<div class="span6 offset4">
		<form class="well" method="post" action="/artist/upload/urls">
			<input type="text" name="bandcamp_url" placeholder="Bandcamp" value="{%if artist.bandcamp_url != 'None'%}{{artist.bandcamp_url}}{%endif%}">
			<input type="text" name="facebook_url" placeholder="Facebook" value="{%if artist.bandcamp_url != 'None'%}{{artist.facebook_url}}{%endif%}">
			<input type="text" name="myspace_url" placeholder="Myspace" value="{%if artist.bandcamp_url != 'None'%}{{artist.myspace_url}}{%endif%}">
			<input type="text" name="twitter_url" placeholder="Twitter" value="{%if artist.bandcamp_url != 'None'%}{{artist.twitter_url}}{%endif%}">
			<input type="text" name="youtube_url" placeholder="YouTube" value="{%if artist.bandcamp_url != 'None'%}{{artist.youtube_url}}{%endif%}">
			<input type="text" name="website_url" placeholder="Website" value="{%if artist.bandcamp_url != 'None'%}{{artist.website_url}}{%endif%}">
			<input type="submit" class="btn btn-info" value="Save Changes">
		</form>
	</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
/* 	72047558 */
	
	console.log("{{artist.track_id}}")
	
	$.get('https://api.soundcloud.com/tracks/{{artist.track_id}}.json?client_id=d03ca49fb6764663d0992eadc69f8bf1', function(data) {
		
		var artwork = data.artwork_url
		console.log(data)
		console.log(artwork)
		
		if (artwork == null){
			if (data.user.avatar_url != null){
				artwork = data.user.avatar_url
			} else{
				artwork = "/img/no_artwork.png"
			}
		}
		
		console.log(artwork)
		artwork = artwork.replace("large","t300x300")
		console.log(artwork)
		
		$('.artwork').css("background-image","url("+artwork+")")
		
/* 		console.log(data) */
/*
	  for (var key in data){
		  var track = data[key];
		  console.log(track.artwork_url)
		  $('div:.sc-player').append('<a href="'+track.permalink_url+'" class="sc-player"></a>')
	  }
*/
	  
	});
</script>


</body>
</html>