<!DOCTYPE html>
<html>
<head>
	<title>Radius - Manage</title>
	<link href="/img/favicon.png" rel="shortcut icon" />
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/manage.css" rel='stylesheet' />
	<link href="/css/navbar.css" rel='stylesheet' />
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->
</head>
<body>
<!-- 	<a href="/artist/logout">Logout</a> -->
	<div class="nav-outer">
		<img class="logo" src="/img/logo.png">
		
		<div class="nav-right pull-right">
			<a class="btn btn-info"href="/artist/logout">Logout</a>
		</div>	
	</div>
	<div class="container">
		<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p class="welcomemsg"><strong>Great to have you aboard!</strong> We have to build up some artists in a city before we launch there (nobody likes a one-track radio station). If you've got a minute, you should help us spread the word to other artists in your city! </br><a href="http://twitter.com/home?status=Pandora%20for%20local%20bands.%20http://www.getradi.us" class="btn btn-primary">Tweet about us</a> or share <a href="http://www.getradi.us">getradi.us</a>
  </p></div>
		<div class="band_name">
			<h1 class="artist_name"></h1>
			<p class="explain" style="margin-top:30px;">This track will be put in rotation on Radius when we launch:</p>
		</div>
		
		<div class="row">
			<div class="span6 pane-left">
				<div class="artwork">
					<a href="/artist/choosetrack" class="chooseLink"></a>
				</div>
			<p class="track_name"></p>
			<a id="choosenew" href="/artist/choosetrack" class="btn btn-info">Choose a new track</a>
			<a id="scupload" href="http://www.soundcloud.com/upload" target="_blank" class="btn btn-warning">Upload via SoundCloud</a>
			</div>
			
			<div class="span6">
				
				<form class="well" method="post" action="/artist/upload/urls">
					
					<p class="explain">Tags help listeners on Radius discover your music.</p>
					<a href="/artist/addtags" class="btn btn-info">Add tags</a>
					
					
					
					<p class="explain">If you have a profile page on any of these services, add the URL! We'll include a link when people listen to your track.</p>
					<p class="arow"><img class="sicon" src="/img/bandcamp.png"><input type="text" name="bandcamp_url" placeholder="Bandcamp Profile URL" value="{{artist.bandcamp_url or ''}}"></p>
					<p class="arow"><img class="sicon" src="/img/facebook.png"><input type="text" name="facebook_url" placeholder="Facebook Profile URL" value="{{artist.facebook_url or ''}}"></p>
					<p class="arow"><img class="sicon" src="/img/myspace.png"><input type="text" name="myspace_url" placeholder="Myspace Profile URL" value="{{artist.myspace_url or ''}}"></p>
					<p class="arow"><img class="sicon" src="/img/twitter.png"><input type="text" name="twitter_url" placeholder="Twitter Profile URL" value="{{artist.twitter_url or ''}}"></p>
					<p class="arow"><img class="sicon" src="/img/youtube.png"><input type="text" name="youtube_url" placeholder="YouTube Profile URL" value="{{artist.youtube_url or ''}}"></p>
					<p class="arow"><img class="sicon" src="/img/website.png"><input type="text" name="website_url" placeholder="Website URL" value="{{artist.website_url or ''}}"></p>
					<p class="updates">We (very) occasionally send out a newsletter with tips on gaining exposure and growing your following.</p>
					<p class="arow" id="email"><img class="sicon" src="/img/email.png"><input type="text" name="email" placeholder="Email" value="{{artist.email or ''}}"></p>
					<input type="submit" class="btn btn-info" value="Save Changes">
				</form>
			</div>
		</div>
		
		<div class="row">
			<form class="span12" class="well">
				<h3>Your Tags</h3>
				
			</form>
		</div>
		
		<p class="troubles">Troubles? Call Carl: <a href="mailto:carl@getradi.us">carl@getradi.us</a></p>
	</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
/* 	72047558 */
	mixpanel.track("band manage page loaded")
	
	//register signup
	mixpanel.track_links("#choosenew","manage choose new button clicked");
	mixpanel.track_links("#scupload","manage soundcloud upload button clicked");
	
	console.log("{{artist.track_id}}")
	
	if ("{{artist.track_id}}" == "None"){
		window.location = '/artist/choosetrack'
	};
	
	$.get('https://api.soundcloud.com/tracks/{{artist.track_id}}.json?client_id=d03ca49fb6764663d0992eadc69f8bf1', function(data) {
		
		$(".artist_name").text(data.user.username)
		$(".track_name").text(data.title)
		
		var artwork = data.artwork_url
		var artwork_src = "track"
/* 		console.log(data) */
/* 		console.log(artwork) */
		
		if (artwork == null){
			if (data.user.avatar_url.indexOf("default_avatar") == -1){
				artwork = data.user.avatar_url
				artwork_src = "avatar"
			}
		}
		
/* 		console.log(artwork) */
		
		if (artwork == null){
			artwork = "/img/debut_dark.png"
			artwork_src = "track"
		}else{
/* 			console.log(artwork) */
			artwork = artwork.replace("large","t300x300")
/* 			console.log(artwork) */
		}
		
		mixpanel.track("manage track loaded",{"artwork source":artwork_src})
		
		
		
		$('.artwork').css("background-image","url("+artwork+")")
		
/* 		console.log(data) */
/*
	  for (var key in data){
		  var track = data[key];
		  console.log(track.artwork_url)
		  $('div:.sc-player').append('<a href="'+track.permalink_url+'" class="sc-player"></a>')
	  }
*/
	  
	});
</script>


</body>
</html>