<!DOCTYPE html>
<html>
<head>
	<title>Radius - Manage</title>
	<link href="/img/favicon.png" rel="shortcut icon" />
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/artistfaq.css" rel='stylesheet' />
	<link href="/css/navbar.css" rel='stylesheet' />
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->
</head>
<body>
<!-- 	<a href="/artist/logout">Logout</a> -->
	<div class="nav-outer">
		<img class="logo" src="/img/logo.png">
		
		<div class="nav-right pull-right">
			<a class="btn btn-success"href="/signup">Get Started</a>
		</div>	
	</div>
	<div class="container">
		
		
		<div class="row">
			<div class="span10 offset1 faqcontent">
				<p class="faqtitle">Frequently Asked Questions</p>
				
				<div class="item">
				<p class="faqsymbol">q</p>
				<p class="faqquestion">What do you get access to when I connect my SoundCloud account?</p>
				<p class="faqsymbol">a</p>
				<p class="faqanswer">When you connect your SoundCloud account, we pull your artist photo and a list of your tracks, from which we ask you to choose one to be featured. We only store your chosen track and disregard the others. We pull genre information for that track, as well as city information for your account (that's so people can filter by city). We don't get access to any personal information - including your email (though if you would like to receive tips and information on building your following, you can subscribe from your "Manage" page).</p>
				</div>
				
				<div class="item">
				<p class="faqsymbol">q</p>
				<p class="faqquestion">When will my tracks be available to the public?</p>
				<p class="faqsymbol">a</p>
				<p class="faqanswer">We're currently set to launch New Year's Eve in Boston, and in other cities shortly after that.</p>
				</div>
				
			</div>
		</div>
	</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>


</body>
</html>