
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Radius &middot; The Cantab Lounge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Help Ivy Dye play The Middle East Upstairs in Boston, MA on Jan. 29th, 2013">

    <!-- Le styles -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    
    <style type="text/css">
	    body{
		    background-image: url(../img/crosses.png);
		    padding-top: 100px;
		    min-width: 450px;
	    }
	    
	    .container-narrow {
			margin: 0 auto;
			max-width: 700px;
			background-color: white;
/* 			padding: 20px; */
			border-radius: 5px;
			overflow: auto;
			box-shadow: 0px 0px 5px #c0c0c0;
		}
		
		.tophalf{
			padding: 20px;
		}
		
		.bottomlinks{
			text-align: center;
			margin-bottom: 20px;
		}
		
		.poweredby{
			text-align: center;
			margin-top: 80px;
			margin-bottom: 50px;
		}
		
		li{
			font-size: 12pt;
			line-height: 150%;
			margin-bottom: 20px;
			font-weight: 500;
			color: #484848;
		}
		
		ul{
			font-weight: 200;
			color: #727272
		}
		
		h1{
			margin-bottom: 50px;
		}
		
		

    </style>
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
<!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/logobig.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/logobig.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/logobig.png">
                    <link rel="apple-touch-icon-precomposed" href="../img/logobig.png">
                                   <link rel="shortcut icon" href="../img/favicon.png">
  </head>

  <body>

    <div class="container-narrow">
<!--     	<div class="adornment">R</div> -->
		
		<div class="tophalf">
			
			
			
<!-- 			<div class="collapse collap-1"> -->
			<div class="collapse collap-1 in">
			<h1><span class="muted">Frequently Asked Questions</span></h1>
			<legend class="lead muted">Fans</legend>
			<ol>
				<li>What does it mean to "pre-buy" a ticket?
					<ul>It means that you only get a ticket if the band gets the show. If they don't get the show, you won't be charged.</ul>
				</li>
				
				<li>Is my transaction secure?
					<ul>Supremely. All of our payments are handled by <a href="http://stripe.com">Stripe</a>, a company that focuses on secure and simply payment integration.</ul>
				</li>
				
				<li>Do you store any information about me?
					<ul>We store your name, email, and age, and use this information to notify you if a band you previously pledged for is trying to play another show. You can opt out of these emails anytime by clicking the "unsubscribe" link on the bottom.</ul>
				</li>
				
				<li>When will I be charged?
					<ul>If the band you pre-bought a ticket for gets the show, you'll be charged as soon as the lineup is finalized and the booking agent gives the final okay. This is usually at least two weeks before the date of the show.</ul>
				</li>
				
				<li>When and how will I get my ticket?
					<ul>You'll get your ticket shortly after your card is charged, at least a week before the show. You'll receive a ticket via email (paper delivery is not available). You can either print out this ticket and show it at the door, or simply show your phone.</ul>
				</li>
				
				<li>What if I don't have an ID? What other forms of identification are acceptable?
					<ul>Passports are fine. Student IDs don't count. When in doubt, call the venue beforehand. A good rule of thumb is to only count on using ID that you can use to get into a bar. Ultimately, the venue gets to decide whether to accept your ID.</ul>
				</li>
				
				<li>What happens if a band cancels or can't play for another reason?
					<ul>You'll be refunded the cost of the ticket (though not the fee). We'll also do our best to help you see that band on another date.</ul>
				</li>
				
				<li>How do you make money?
					<ul>We charge a fee on top of the ticket price. It's pay-what-you-want, and we give half to an awesome charity. We're trying to make paying a fee less painful, while keeping the lights on. See the <a href="/fees">Fees</a> section for more information.</ul>
				</li>
				
				<li>Why are you doing this?
					<ul>We've been local musicians ourselves, and there's nothing that compares to the feeling of playing a live show. We want to give you a tool that allows you to help your favorite local artists play more shows.</ul>
				</li>
				
			</ol>
			
			<legend class="lead muted">Bands</legend>
			<ol>
				<li>Why do I have to connect my SoundCloud?
					<ul>SoundCloud is a great platform to host your tracks. Rather than give you another email/password combination to remember and ask you to upload a track to yet another website, we'd rather you just pick one you've already hosted on SoundCloud. If you don't yet have a SoundCloud, you can create one in seconds.</ul>
				</li>
				
				<li>When and how do I get paid?
					<ul>You'll be paid the night of the show, in the same way that you normally are.</ul>
				</li>
				
				<li>Can I make more than the amount listed as "compensation"?
					<ul>Yep! If you continue to sell tickets past the required amount, your compensation will increase. For example, if you were to be compensated $125 for 25 tickets ($5 per ticket) and you actually sell 35 tickets, you'll get $175.</ul>
				</li>
				
				<li>I got the show! What now?
					<ul>Congratulations! Hang tight. You'll get an email with load in/out information, set times, and the like.</ul>
				</li>
				
				<li>I didn't get the show. Why should I try again?
					<ul>Because as soon as you select another date/venue, everyone that pledged to see you this time will get an email that allows them to update their pledge to the new date/venue. You've already got a leg up on the competition!</ul>
				</li>
				
				<li>If the show is 21+, does everyone in the band need to be over 21?
					<ul>Absolutely. If you're applying to play a 21+ date, please make sure everyone in your band is over 21.</ul>
				</li>
				
			</ol>
			
			
			<legend class="lead muted">Booking agents</legend>
			<ol>
				<li>How could I use Radius to book a date?
					<ul>Pick a date on an off-night, a month or so in advance. Pick the number of bands, and the total number of tickets you'd like to sell. Watch local bands pack your venue.</ul>
				</li>
				
				<li>How can I get in touch?
					<ul>Email <a href="mailto: hello@getradi.us">hello@getradi.us</a>, and we'll get back to you as soon as we can.</ul>
				</li>
				
			</ol>
			
			
			
			
		</div>
		
		
		
		<hr style="opacity:0;">
					
		<div class="bottomlinks">
			<a href="mailto: hello@getradi.us">Contact</a>
			&middot
			<a href="/terms">Terms of Use</a>
			&middot
			<a href="/fees">Fees</a>
			&middot
			<a href="/faq">Frequently Asked Questions</a>
		</div>
		
		
		
		

    </div> <!-- /container -->
    </div>
    
    <div class="poweredby"><p class="lead">Powered by <a href="http://www.getradi.us">Radius.</a></p></div>

    <!-- Le javascript
    ================================================== -->
    
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script type="text/javascript">
	    
	    callforbackup = function(){
		    //loading state
		    $("#playbtn").attr("disabled","disbled")
		    $("#playbtn").text("Please wait a moment")
		    
		    //make ajax call
		    $.getJSON("/shows/playcheck",function(){
			    
		    })
		    
		    $.ajax({
				dataType: "json",
				url: "/shows/playcheck",
				success: function(result){
					
					if (result.loggedin == true){
						$(".loggedin").show()
						$(".loggedout").hide()
					} else{
						$(".loggedout").show()
						$(".loggedin").hide()
					}
					console.log(result)
					//on success, show the collapse
				    $(".collapse").collapse('toggle')
				},
				error: function(result){
					$("#playbtn").attr("disabled",false)
				    $("#playbtn").text("Play this show")
				}
			});
		    
		    
	    }
	    
	    $(document).ready(function() {
		    
		    
		    //initialize collapse
		    $(".collapse").collapse({
			    toggle	:	false
		    })
		    
		    //play button listener
		    $("#playbtn").click(function(){
		    	callforbackup()
/* 			    $(".collapse").collapse('toggle') */
		    })
		    
		    //back button listener
		    $(".backbtn").click(function(){
			    $(".collapse").collapse('toggle')
		    })
		    
		    // initialize client with app credentials
			SC.initialize({
			  //client_id: 'd03ca49fb6764663d0992eadc69f8bf1',
			  //redirect_uri: 'http://getradi.us/artist/login/complete'
			  client_id: 'f0d56e6b17ae978fc9f12aaf52d81542',
			  redirect_uri: 'http://test.radius-levr.appspot.com/artist/login/complete'
			});
			
			$('.btnlogin').click(function(){
				SC.connect(function() {
				  SC.get('/me', function(me) { 
				    console.log(me)
				  });
				});
			})
		        
	    });
	</script>
  </body>
</html>
