<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  
  <head>
    
    <title>Radius</title>
    <link href="/img/favicon.png" rel="shortcut icon" />
<!--     <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/hype.css" type="text/css">
	  
	  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->

  </head>
  
<body>
	<p class="logotext"><img src="/img/logo.png"></p>
	<div class="overlay">
		<p class="setup">They practice in basements, and make albums in living rooms. They pack everything in a van and drive six hours to play a show.</p>
		<p class="punct">And they're making history.</p>
		<p class="what">Radius is an online radio station that plays only local music.</br>Find an artist, download a track, buy a ticket, see a show.</p>
		{% if state=="signedup" %}
		<p class="welcomemsg"><strong>Great to have you aboard!</strong> The more artists and fans we can sign up in your area, the sooner we can launch there. If you've got a minute, you should help us spread the word! </br><a id="tweetbtn" href="http://twitter.com/home?status=Pandora%20for%20local%20bands.%20http://www.getradi.us" class="btn btn-primary">Tweet about us</a> or share <a href="http://www.getradi.us">getradi.us</a>
  </p>
		{% else %}
		<p class="discover">DISCOVER SOMETHING GREAT:</p>
		<form id="signup_form" class="form-wrapper cf" method="post" action="/{{token}}">
	        <input id="emailinput" name="email" type="text" placeholder="Your Email">
	        <button type="submit">SIGNUP</button>
	    </form>
	    {% endif %}
	</div>
	
	<div class="banner">
		<p class="banner-prompt">Local artist? Broadcast your music and build your following. <a id="bands" href="/signup">Get started</a></p>
	</div>
	
	<a id='mixpanel' href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    
    <script type="text/javascript">
	    $(document).ready(function() {
			mixpanel.track("landing page loaded")
			
			//register signup
			mixpanel.track_forms("#signup_form", "signup form submitted",{"signup_email":$("#emailinput").val()});
			mixpanel.track_links("#bands","bands link clicked");
			mixpanel.track_links("#tweetbtn","tweet button clicked");
		});
    </script>
  
  </body>

 </html>