<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  
  <head>
    
    <title>Radius</title>
    <link href="/img/favicon.png" rel="shortcut icon" />
    
    <meta property="og:image" content="http://www.getradi.us/img/logobig.png"/>
    <meta property="og:title" content="Radius"/>
    <meta property="og:url" content="http://www.getradi.us"/>
    <meta property="og:description" content="Pandora for local bands."/>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/hypev2.css" type="text/css">
	  
	  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->

  </head>
  
<body>
<!-- 	<p class="logotext"><img src="/img/logo.png"></p> -->
	<div class="overlay">
		<p class="welcome">Welcome to Radius.</p>
		<p class="about">Listen to great local bands in your city, or on the other side of the world.</p>
		<a id="discover" class="btn btn-warning btn-large bigbtn" href="/music">Discover something great</a>
	</div>
	
	<div class="banner">
		<p class="banner-prompt">Local artist? Broadcast your music and build your following. <a id="bands" href="/signup">Get started</a></p>
	</div>
	
	<a id='mixpanel' href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    
    <script type="text/javascript">
	    $(document).ready(function() {
			mixpanel.track_links("#discover","Discover button clicked")
			mixpanel.track_links("#bands","Bands button clicked (landing)")
		});
    </script>
  
  </body>

 </html>