<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  
  <head>
    
    <title>Radius</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/hype.css" type="text/css">
  
  </head>
  
<body>
	
	<div class="overlay">
		<form class="form-wrapper cf" method="post" action="/{{token}}">
	        <input name="email" type="text" placeholder="Your Email">
	        <button type="submit">SIGNUP</button>
	    </form>
	</div>
	
	<div class="banner">
		<p class="banner-prompt">Local artist? Start broadcasting your tracks to local music lovers in your city. <a href="/signup">Right now</a></p>
	</div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  
  </body>

 </html>