
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Radius - Local Music Discovery</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Radius is Pandora for local bands.">
    
    <meta property="og:image" content="http://www.getradi.us/img/logobig.png"/>
    <meta property="og:title" content="Radius"/>
    <meta property="og:url" content="http://www.getradi.us"/>
    <meta property="og:description" content="Radius is Pandora for local bands."/>

    <!-- Le styles -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/landingv3.css" rel="stylesheet">
    
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->
    
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/logobig.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/logobig.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/logobig.png">
                    <link rel="apple-touch-icon-precomposed" href="../img/logobig.png">
                                   <link rel="shortcut icon" href="../img/favicon.png">
  </head>

  <body>
  	
  	<div id="slider-container">
  	<div id="slider">
				
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000002352799-3dkx73-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036866366-n88x3b-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000025958863-cvcse9-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036138364-si5wrl-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036902244-m5mwuh-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000030304989-io7704-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000032511568-hef2s5-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000026797066-vswpv0-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000037071051-hh70jj-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000017133543-zr5k0k-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035592742-iix6qg-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035396315-ljtgdt-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036899809-j1q16f-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036795722-34vzrn-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035312252-do1eer-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000031660890-ylgozy-t500x500.jpg?923db0b);"></div>
		
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000002352799-3dkx73-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036866366-n88x3b-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000025958863-cvcse9-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036138364-si5wrl-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036902244-m5mwuh-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000030304989-io7704-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000032511568-hef2s5-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000026797066-vswpv0-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000037071051-hh70jj-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000017133543-zr5k0k-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035592742-iix6qg-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035396315-ljtgdt-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036899809-j1q16f-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036795722-34vzrn-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035312252-do1eer-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000031660890-ylgozy-t500x500.jpg?923db0b);"></div>
		
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000002352799-3dkx73-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036866366-n88x3b-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000025958863-cvcse9-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036138364-si5wrl-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036902244-m5mwuh-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000030304989-io7704-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000032511568-hef2s5-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000026797066-vswpv0-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000037071051-hh70jj-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000017133543-zr5k0k-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035592742-iix6qg-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035396315-ljtgdt-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036899809-j1q16f-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036795722-34vzrn-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000035312252-do1eer-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000031660890-ylgozy-t500x500.jpg?923db0b);"></div>
		
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000002352799-3dkx73-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036866366-n88x3b-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000025958863-cvcse9-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036138364-si5wrl-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036902244-m5mwuh-t500x500.jpg?923db0b);"></div>
		<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000030304989-io7704-t500x500.jpg?923db0b);"></div>

		
	</div>
  	</div>
  	
<!--   	<div class="arrow-up"></div> -->
<!--
  	<div class="undercovers">
  	<div class="container marketing">
	  	
  	</div>
  	</div>
-->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
    
    <div id="player-info" class="featurette">
	  	<h1 class="featurette-heading dynamo">
	  		<span id="genre" genre></span>
	  		<span id="in" class="muted">in</span>
	  		<span id="city"></span>	
	  	</h1>
	  	
	  	<p class="lead tagline">
		  	Discover great local music in your city, or on the other side of the world.
	  	</p>
	  	
	  	<p class="lead tagline">
		  	Welcome to Radius.
	  	</p>
	  	{% if state=="signedup" %}
	  	<h3>Great! We'll email you when we launch.</h3>
	  	<p class="lead">If you've got a minute, you should help us spread the word!</p><a id="tweetbtn" href="https://twitter.com/intent/tweet?text=Radius%20is%20Pandora%20for%20local%20bands.&url=http%3A%2F%2Fwww.getradi.us&via=getradius"><img src="../img/twitter-normal.png" onmouseover="this.src='../img/twitter-hover.png'" onmouseout="this.src='../img/twitter-normal.png'" onmouseclick="this.src='../img/twitter-active.png'"></a><p class="lead" style="margin-top: 20px;">or share <a href="http://www.getradi.us">http://www.getradi.us</a></p>
	  </p>
	  	{% else %}
	  	<form id="signup_form" class="form-wrapper cf" method="post" action="/{{token}}">
	        <input id="emailinput" name="email" type="text" placeholder="Your Email">
	        <button type="submit">SIGNUP</button>
	    </form>
	    {% endif %}
  	</div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right img-polaroid" id="preview" src="../img/artistshot.jpg">
        <h2 class="featurette-heading">Local artists: <span class="muted">Build your following</span></h2>
        <p class="lead">On Radius, music lovers in your city and around the world can discover your tracks. It's easy for them to buy tickets to your next show, or click over to your Bandcamp, Facebook, Twitter, Myspace, SoundCloud, YouTube, or website.</p>
        <p class="lead">Connect with your SoundCloud account to get started.</p>
        <a id="connectlink" href="#"><img  class="connect" src="../img/connect.png"></a>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../img/iphone-radius.png">
        <h2 class="featurette-heading">Love to test? <span class="muted">Got an iPhone?</span></h2>
        <p class="lead">Radius for iPhone is the best thing to happen to local music since the living room. Sign up now to get early access, and help us build something awesome.</p>
        <a id="testflightbtn" href="http://tflig.ht/13chP0r" target="_blank" class="btn btn-info btn-large">Sign up for Radius Beta via TestFlight</a>
      </div>

      <hr class="featurette-divider">
      
      
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2012 Levr Laboratories<!--  &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/sc-sdk.min.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
			mixpanel.track("landing page loaded")
			
			//register signup
			mixpanel.track_forms("#signup_form", "signup form submitted",{"signup_email":$("#emailinput").val()});
			mixpanel.track_links("#connectlink","band connect link clicked");
			mixpanel.track_links("#tweetbtn","tweet button clicked");
			mixpanel.track_links("#testflightbtn","testflight button clicked");
			
			
			// initialize client with app credentials
			SC.initialize({
			  client_id: 'd03ca49fb6764663d0992eadc69f8bf1',
			  redirect_uri: 'http://getradi.us/artist/login/complete'
			});
			
			$('#connectlink').click(function(){
				SC.connect(function() {
				  SC.get('/me', function(me) { 
				    console.log(me)
				  });
				});
			})
		
		});
    </script>
	<script type="text/javascript">
		
		genres = ["Indie Rock","Dubstep","Pop Rock","Rnb","Electronic","Postrock","Electroacoustic","Alternative","Acoustic","Electronica","Instrumental","Alternative","Metal","Atmospheric","Rock","Dubstep","Indie Rock","Dubstep","Pop Rock","Rnb","Electronic","Postrock","Electroacoustic","Alternative","Acoustic","Electronica","Instrumental","Alternative","Metal","Atmospheric","Rock","Dubstep","Indie Rock","Dubstep","Pop Rock","Rnb","Electronic","Postrock","Electroacoustic","Alternative","Acoustic","Electronica","Instrumental","Alternative","Metal","Atmospheric","Rock","Dubstep"]
		cities = ["Nashua","San Francisco","Boston","Aurora","East Lansing","Brighton","Berlin","Chicago","Leeds","Portland","Istanbul","Los Angeles","Buffalo","Dover","Boston","Lansing","Nashua","San Francisco","Boston","Aurora","East Lansing","Brighton","Berlin","Chicago","Leeds","Portland","Istanbul","Los Angeles","Buffalo","Dover","Boston","Lansing","Nashua","San Francisco","Boston","Aurora","East Lansing","Brighton","Berlin","Chicago","Leeds","Portland","Istanbul","Los Angeles","Buffalo","Dover","Boston","Lansing"]
		
		$("#genre").text(genres[0])
		$("#city").text(cities[0])
		
		idx = 1
		
		$("#slider").animate({"left":"50%","margin-left":0},600)
		
		intervalid = setInterval(function(){
			console.log(genres[idx-1])
			$("#slider").animate({"margin-left":-500*idx},600)
			$("#genre,#city,#in").animate({opacity:0},200,function() {
				$("#genre").text(genres[idx-1])
				$("#city").text(cities[idx-1])
				$("#genre,#city,#in").animate({opacity:1},200)
			})
			
			prev = $(".img")[idx-1]
			$(prev).animate({"opacity":0.8},600)
			next = $(".img")[idx]
			$(next).animate({"opacity":1},600)
			
			console.log(idx)
			console.log(genres.length)
			
			if (idx == genres.length){
				clearInterval(intervalid);
			} else{
				idx++
			}
				
			
		}, 3300)
		
		
		$("#slidedown").click(function() {
		     $('html, body').animate({
		         scrollTop: $(".page2").offset().top
		     }, 400);
		 });
		
	</script>
	
  </body>
</html>
