<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  
  <head>
    
    <title>Le Mustache</title>
    <link rel="stylesheet" href="./css/page.css" type="text/css">
    <link rel="stylesheet" href="./css/sc-player-artwork.css" type="text/css">
  
  </head>
  
  <body>
      
        <div class="top">
	        
        </div>
        
        <div class="sc-player">
        	{% for track in tracks %}
        		<a href="{{track.track_url}}" class="sc-player"></a>
        	{% endfor %}
<!--

          <a href="http://soundcloud.com/matas/the-pendulum" class="sc-player">Forss</a>
          <a href="http://soundcloud.com/matas/communion-of-coincidence-from-the-mountain-top" class="sc-player">My dub track</a>
          <a href="http://soundcloud.com/matas/anadrakonic-waltz" class="sc-player">Pumpkins Track</a>
          <a href="http://soundcloud.com/matas/frost-theme-0-1" class="sc-player">Oxxo</a>
-->
        </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../js/soundcloud.player.api.js"></script>
    <script type="text/javascript" src="../js/sc-player.js"></script>
    <script type="text/javascript" src="../js/player-custom.js"></script>
    <script type="text/javascript">
	    $(document).bind('onPlayerPause.scPlayer', function(event){
			idx = $('.sc-trackslist > .active').index()
			if (idx == $('.sc-trackslist > li').size()-1){
				location.reload()
			}
		  
		});
    </script>
    <script type="text/javascript">
	    //enter sandman
	    {% for track in tracks %}
	    	
	    	
	    	
	    {% endfor %}
    </script>

  
  </body>

 </html>