<!DOCTYPE html>
<html>
<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/manage.css" rel='stylesheet' />
</head>
<body>
	<div class="band_name"></div>
	<div class="explanation">
		<h3>Welcome to Localthing.</h3>
		<h5>We'll put your tracks in front of local music lovers in your city.</h5>
		<p class="deets">We use Soundcloud to host your tracks. Link your account or create one in seconds, and you'll be up and running in no time.</p>
		<a href="/artist/scauth">Connect with soundcloud</a>
		<p>Already using Localthing? Connect with SoundCloud again to login.</p>
	</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>


</body>
</html>