
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Radius</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Radius is Pandora for local bands.">
    
    <meta property="og:image" content="http://www.getradi.us/img/logobig.png"/>
    <meta property="og:title" content="Radius"/>
    <meta property="og:url" content="http://www.getradi.us"/>
    <meta property="og:description" content="Radius is Pandora for local bands."/>

    <!-- Le styles -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/musicv2.css" rel="stylesheet">
    
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/logobig.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/logobig.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/logobig.png">
                    <link rel="apple-touch-icon-precomposed" href="../img/logobig.png">
                                   <link rel="shortcut icon" href="../img/favicon.png">
  </head>

  <body>
  	
  	<div id="station-container">

  	</div>
  	
  	<div id="slider-container">
	  	<div id="slider" class="player-container">
	  		
	          <!--
<a href="http://api.soundcloud.com/tracks/71127918" class="sc-player">Forss</a>
	          <a href="http://soundcloud.com/matas/the-pendulum" class="sc-player">Forss</a>
	          <a href="http://soundcloud.com/matas/communion-of-coincidence-from-the-mountain-top" class="sc-player">My dub track</a>
	          <a href="http://soundcloud.com/matas/anadrakonic-waltz" class="sc-player">Pumpkins Track</a>
	          <a href="http://soundcloud.com/matas/frost-theme-0-1" class="sc-player">Oxxo</a>
-->
					
			<!--
	<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000002352799-3dkx73-t500x500.jpg?923db0b);"></div>
			<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036866366-n88x3b-t500x500.jpg?923db0b);"></div>
			<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000025958863-cvcse9-t500x500.jpg?923db0b);"></div>
			<div class="img" style="background-image:url(http://i1.sndcdn.com/artworks-000036138364-si5wrl-t500x500.jpg?923db0b);"></div>
	-->
	
			
		</div>
  	</div>
  	
  	<div id="info-container">
	  	
	  	<div id="control-row">
		  	<a id="btn-prev" style="opacity:0.420;"><img src="/img/prev.png"></a>
		  	<a id="btn-next"><img src="/img/next.png"></a>
		  	<a id="btn-play"><img src="/img/play.png"></a>
		  	<a id="btn-pause" hidden><img src="/img/pause.png"></a>
	  	</div>
	  	
	  	<div id="action-row">
		  	<a id="btn-remove"><img src="/img/pause.png"></a>
		  	<a id="btn-favorite"><img src="/img/pause.png"></a>
	  	</div>
	  	
	  	<div id="info-row">
		  	<p class="info-track lead"></p>
		  	<p class="info-name lead"></p>
		  	<p class="info-city lead"></p>
	  	</div>
	  	
	  	<div id="link-row">
<!--
		  	<p><a href="#" class="lead"><img class="link-icon" src="/img/bandcamp.png"> Download on Bandcamp</a></p>
		  	<p><a href="#" class="lead"><img class="link-icon" src="/img/facebook.png"> Find on Facebook</a></p>
		  	<p><a href="#" class="lead"><img class="link-icon" src="/img/twitter.png"> Follow on Twitter</a></p>
		  	<p><a href="#" class="lead"><img class="link-icon" src="/img/soundcloud.png"> Find on Soundcloud</a></p>
		  	<p><a href="#" class="lead"><img class="link-icon" src="/img/youtube.png"> Watch on YouTube</a></p>
-->
	  	</div>
	  	
  	</div>
  	
<!--   	<div class="arrow-up"></div> -->
<!--
  	<div class="undercovers">
  	<div class="container marketing">
	  	
  	</div>
  	</div>
-->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/pulse.min.js"></script>
    <script type="text/javascript" src="../js/soundcloud.player.api.js"></script>
    <script type="text/javascript" src="../js/sc-player.js"></script>
    <script type="text/javascript" src="../js/music-playerv2.js"></script>
    
    <script type="text/javascript">
    	
    	//find the window width
    	/* wide = $(window).width(); */
    	/*
console.log(wide)
    	centerthings(wide)
*/
		idx = 0
		poke = calcpoke()
    	
    	
    	//detect on resize
    	$(window).resize(function() {
	    	poke = calcpoke()
	    	console.log(poke)
    	})
    	
		
	
    	
/*     	mixpanel.track("Music player page loaded") */
    	/*
mixpanel.track_links("#genre","Genre dropdown link clicked")
    	mixpanel.track_links("#radius","Radius dropdown link clicked")
*//*

    	mixpanel.track_links("#twittershare","Twitter share link clicked")
    	mixpanel.track_links("#citybutton","City button clicked")
    	mixpanel.track_forms("#btnSave","Save button clicked")
*/
    	
    	
    	//geolocate -- fires initial request
    	geolocate()
    	
	    //enter sandman
	    art = []
	    
	</script>
<!--
    <script type="text/javascript">
	    $(document).ready(function() {
			mixpanel.track("landing page loaded")
			
			//register signup
			mixpanel.track_forms("#signup_form", "signup form submitted",{"signup_email":$("#emailinput").val()});
			mixpanel.track_links("#connectlink","band connect link clicked");
			mixpanel.track_links("#tweetbtn","tweet button clicked");
			mixpanel.track_links("#testflightbtn","testflight button clicked");
			
			
			// initialize client with app credentials
			SC.initialize({
			  client_id: 'd03ca49fb6764663d0992eadc69f8bf1',
			  redirect_uri: 'http://getradi.us/artist/login/complete'
			});
			
			$('#connectlink').click(function(){
				SC.connect(function() {
				  SC.get('/me', function(me) { 
				    console.log(me)
				  });
				});
			})
		
		});
    </script>
-->

	
  </body>
</html>
