<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  
  <head>
    
    <title>Radius</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/page.css" type="text/css">
    <link rel="stylesheet" href="/css/sc-player-artwork.css" type="text/css">
    <link rel="stylesheet" href="/css/music.css">
    <link rel="stylesheet" href="/css/music-collapse.css">
  
  </head>
  
  <body>
<!--       	<div id="loading"></div> -->
      	
        <div class="headerbar">
        	<p class="filtered"> 
        		Playing
        		{% if tags %}
        		<a id="genre">{{length(tags)}}</a>
        		 genres of
        		{% else %}
        		<a id="genre">all</a>
        		{% endif %}
        		 music 
        		{% if city %}
        		in 
        		<a id="radius">{{city}}</a>
        		{% else %}
        		<a id="radius">everywhere</a>
        		{% endif %}
        		<span class="clickchange">Click to change</span>
        	</p>
	        <img class="logo" src="/img/logo.png">
        </div>
        
        <div id="expando-genre" class="collapse">
        	<div class="container">
		    	<div class="row collapserow">
		    		<div id="build-container" class="span10 offset1">
						<p class="prompt">What do you like?</p>
						<div id="html-tags">
							<p class="explain">Enter a few of your favorite artists - we'll use their genres to filter the songs you hear on Radius.</p>
						</div>
		
							<form method="post" action="/music/updateStation">
								<input type="hidden" id="tags" name="tags" value="">
								
								<div class="artist">
									<input id="artist" class="noEnterSubmit" type="text" placeholder="Artist Name">
									<a id="grabtags" class="btn btn-success" disabled>Add this artist's genres</a>
								</div>
								
								<div class="serendipity">
									<p class="prompt">How much variation do you want?</p>
									<p class="explain">Choose how often you would like to hear tracks outside of the genres above</p>
									<input id="serendipity" name="serendipity" type="range" min="0" step="1" max="255" value="{{serendipity|default(0.1)}}">
									<div class="serendipity-labels">
										<span class="explain label-left">Never</span>
										<span class="explain label-right">Every other song</span>
									</div>
								</div>
								<div>
									<input type="submit" id="btnSave" class="btn btn-warning btn-large" name="submit" value="Save these settings">
								</div>
							</form>
						
						
					</div>
		    		</div>
		    	</div>
        	</div>
        </div>
        
        <div id="expando-radius" class="collapse">
        	<div class="container">
		    	<div class="row collapserow">
		    		<p class="prompt">Choose a location</p>
		        	<div id="cities" class="span12">
		        		{% for c in cities %}
		        			<a class="btn btn-primary" href="/music/updateCity?city={{c}}">{{c}}</a>
		        		{% endfor %}
			        	<a class="btn btn-success">Everywhere</a>
		        	</div>
		        	<p class="explain">Don't see your city? We'll launch there automatically as soon as enough artists sign up. </br>You can help spread the word by <a href="http://twitter.com/home?status=Pandora%20for%20local%20bands.%20http://www.getradi.us">tweeting about us</a> or sharing <a href="http://www.getradi.us">getradi.us</a></p>
		    	</div>
        	</div>
        </div>
        
        
    	<div class="player-container">    
<!--
        <div class="sc-player">
        	{% for artist in artists %}
        		<a href="http://api.soundcloud.com/tracks/{{artist.track_id}}" class="sc-player"></a>
        	{% endfor %}
-->

          <a href="http://api.soundcloud.com/tracks/71127918" class="sc-player">Forss</a>
          <a href="http://soundcloud.com/matas/the-pendulum" class="sc-player">Forss</a>
          <a href="http://soundcloud.com/matas/communion-of-coincidence-from-the-mountain-top" class="sc-player">My dub track</a>
          <a href="http://soundcloud.com/matas/anadrakonic-waltz" class="sc-player">Pumpkins Track</a>
          <a href="http://soundcloud.com/matas/frost-theme-0-1" class="sc-player">Oxxo</a>
<!--         </div> -->

    	</div>
        
        <div class="trackinfo">
        	<p class="info-track">Track Name</p>
	        <p><span class="info-name">Artist Name</span><span class="info-city">City</span></p>
	        <div class="buttoncontainer">
		        <a href="http://bandcamp.com"><img class="ext-button" src="/img/bandcamp.png"></a>
		        <a href="http://facebook.com"><img class="ext-button" src="/img/facebook.png"></a>
		        <a href="http://soundcloud.com"><img class="ext-button" src="/img/soundcloud.png"></a>
		        <a href="http://twitter.com"><img class="ext-button" src="/img/twitter.png"></a>
		        <a href="http://myspace.com"><img class="ext-button" src="/img/myspace.png"></a>
		        <a href="http://google.com"><img class="ext-button" src="/img/web.png"></a>
	        </div>
	        
	        
	        
        </div>
        
        
        
    
<!--     <script type="text/javascript" src="/js/spin.js"></script> -->
<!--     <script type="text/javascript" src="/js/roundandround.js"></script> -->
    <script src="http://code.jquery.com/jquery.js"></script>
<!--     <script src="/js/jquery.color.min.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/pulse.min.js"></script>
    <script src="/js/addtags.js"></script>
    <script type="text/javascript" src="/js/soundcloud.player.api.js"></script>
    <script type="text/javascript" src="/js/sc-player.js"></script>
<!--     <script type="text/javascript" src="/js/player-custom.js"></script> -->
<!--     <script type="text/javascript" src="/js/landing-player.js"></script> -->
	<script type="text/javascript" src="/js/music-player.js"></script>

<!--     <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
<!--
    <script type="text/javascript">
	    $(document).bind('onPlayerPause.scPlayer', function(event){
			idx = $('.sc-trackslist > .active').index()
			if (idx == $('.sc-trackslist > li').size()-1){
				location.reload()
			}
		  
		});
		
	    $(document).bind('onPlayerInit.scPlayer', function(event){
		  spinner.stop()
		  $('#loading').hide()
		});
		
		
    </script>
-->
    <script type="text/javascript">
	    //enter sandman
	    {% for artist in artists %}
	    	
/* 	    	artist */
	    	
	    {% endfor %}
    </script>
    
    <script type="text/javascript">
		{% if tags %}
			tags = {{tags}}
			updatetagshtml()
		{% else %}
			tags = []
		{% endif %}
	</script>

  
  </body>

 </html>