<!DOCTYPE html>
<html>
<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/signup.css" rel='stylesheet' />
	
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||
[]);
mixpanel.init("080da319b25d8c64555d5d599cf7eb56");</script><!-- end Mixpanel -->
	
</head>
<body>
<!-- 	<div class="logo">logo</div> -->
	<div class="explanation">
		<h3>Broadcast your music. <span class="muted">Build your following.</span></h3>
		<p class="explain">On Radius, music lovers in your city can discover your tracks, buy tickets to your next show, and follow you on services like these:</p>
		<p>
			<img class="sicon" src="/img/facebook.png">
			<img class="sicon" src="/img/twitter.png">
			<img class="sicon" src="/img/bandcamp.png">
			<img class="sicon" src="/img/myspace.png">
			
		</p>
		<h4 class="how">Here's how it works:</h4>
		<p class="explain">We know you don't need another account to manage, so we use SoundCloud to store your tracks. If you have an account, great! If you don't, it only takes a few seconds to set one up and upload a track.</p>
		<h4 class="start">Get started:</h4>
		<a id="connectlink" href="/artist/scauth"><img  class="connect" src="/img/connect.png"></a>
		<p class="already">(already using Radius? Clicking the button above will log you in.)</p>
	</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	    $(document).ready(function() {
			mixpanel.track("band signup page loaded")
			
			//register signup
			mixpanel.track_links("#connectlink","connect link clicked");
		});
    </script>


</body>
</html>