<!DOCTYPE html>
<html>
<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/signup.css" rel='stylesheet' />
</head>
<body>
	<div class="logo">logo</div>
	<div class="explanation">
		<h2>Broadcast yourself.</h2>
		<p class="explain">On Radius, music lovers in your city looking for fresh local music can listen to your tracks. We help you build your following by making it easy for your new fans on Radius to find and follow you on services like these:</p>
		<p>
			<img class="sicon" src="/img/facebook.png">
			<img class="sicon" src="/img/twitter.png">
			<img class="sicon" src="/img/bandcamp.png">
			<img class="sicon" src="/img/myspace.png">
			
		</p>
		<h4>Here's how it works:</h4>
		<p class="explain">We use Soundcloud to store your tracks. If you have an account, great! If you don't, it only takes a few seconds to set one up and upload a track.</p>
		<h4>Get started:</h4>
		<a href="/artist/scauth"><img  class="connect" src="/img/connect.png"></a>
		<p class="already">(already using Radius? Clicking the button above will log you in.)</p>
	</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>


</body>
</html>